*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-section{
    background-color: cadetblue;
    width: 100%;
    height: 100vh;
}

.input-wrapper{
    width: 70%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group{
    width: 250px;
}

.input{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.btn{
    width: 200px;
    padding: 15px;
    font-size: 24px;
    background-color: chartreuse;
    border-radius: 5px;
    border:none;
}

.report-section{
    width: 70%;
    margin: 0 auto;
    background-color: #fefefe;
    padding: 30px;
}

.report-heading{
    margin-bottom: 30px;
    font-size: 30px;

}

.text{
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
}